* {
       border: 1px red solid;
}

:root {
    --rockies-purple: #333366;
    --background-silver: #C4CED4;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: var(--background-silver);
    font-family: sans-serif;
}

header h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 10px 10px 0;
    padding: 20px;
    font-size: 200%;
    background-color: var(--rockies-purple);
    color: var(--background-silver);
}

header ul {
    display: flex;
    padding: 10px;
    margin: 10px;
}

header li {
    display: flex;
    padding: 10px;
}

header a {
    text-decoration: none;
    padding: 0 10px 5px 10px;
    border-bottom: solid 4px var(--rockies-purple);
}

.hero {
    display: flex;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/assets/images/hero.jpg");
    height: 400px;
    background-position: center;
    background-size: cover;
    position: relative;
}

.hero-text h2 {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--background-silver);
    font-size: 50px;
}

.hero-text p {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 40px);
    color: var(--background-silver);
    font-size: 20px;
}

.about-aside-title {
    display: flex;
    justify-content: flex-start;
    font-size: 75px;
    padding: 10px;
    margin: 15px;
}

.about-me {
    display: flex;
    justify-content: center;
    border-left: solid 4px var(--rockies-purple);
    padding: 10px;
    margin: 10px;
}

.about {
    display: flex;
}

.work {
    display: flex;
    height: 800px;
}

.work-aside-title {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 75px;
    padding: 10px 40px 10px 10px;
    margin: 15px;
}

.showcase {
    display: flex;
    position: relative;
    padding: 10px;
}

.work-section-prime {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 10px;
}

.pic-prime {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 800px;
    height: 400px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/assets/images/project-1.png");
    -webkit-filter: blur(3px);
	filter: blur(3px);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.pic-prime:hover {
    -webkit-filter: blur(0);
	filter: blur(0);
}

.pic-prime-text {
    color: var(--rockies-purple);
    padding: 5px;
    width: 150px;
    background-color: var(--background-silver);
}

.projects-grid img{
    width: 400px;
    height: 200px;
}

.flex {
    display: flex;
    flex-direction: column;
}